.item-options ul,
.item-networks ul{
    display: flex;
    justify-content: center;
 
}
.item-options ul li,
.item-networks ul li{
    margin-right: 0.8em;
}
.item-options ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}
.item-networks ul li i{
    color: #fff;
    font-size: 1.5em;
}

